@page "/ListaUsuarios"
@using LoginMaui.Models
@using LoginMaui.Services
@using System.Net
@using System.Net.Mail
@using System.ComponentModel.DataAnnotations;
@using System.IO;
@using Microsoft.Extensions.Configuration;
@inject NavigationManager Navigation
@inject IUsuarioService UsuarioService


<div class="vh-100 d-flex flex-column fade-in">

    <div class="d-flex justify-content-center mt-1 mb-3">
        <h1>Lista de Usuarios</h1>
    </div>

    @if (usuarios == null) {
        <p><em>Carregando...</em></p>
    }
    else {
        @foreach (var usuario in usuarios) {
            <div class="d-flex justify-content-between align-items-center m-2">
                <span>@usuario.Usuario</span>
                <div class="d-flex">
                    <button class="btn btn-primary me-2" @onclick="() => NavegarParaDetalhes(usuario.RegistroId)">Editar</button>
                    <button class="btn btn-danger ms-2" @onclick="() => DeleteUsuarioPorId(usuario.RegistroId)">Deletar</button>
                </div>
            </div>
        }
    }

    <a class="btn btn-light m-2" @onclick="Voltar">Voltar</a>

</div>

@code {
    private List<UsuarioModel> usuarios = new List<UsuarioModel>();

    private void NavegarParaDetalhes(int id) {
        Navigation.NavigateTo($"/usuario/{id}");
    }

    protected override async Task OnInitializedAsync() {
        usuarios = await UsuarioService.GetAllUsuarios();
    }

    private async Task DeleteUsuarioPorId(int id)
    {
        try
        {
            var result = await UsuarioService.DeleteUsuarioById(id);
            usuarios = await UsuarioService.GetAllUsuarios();

            if(result > 0)
            {
                await DisplayAlert("Sucesso", "Usuario deletado com sucesso", "OK");
            }
            else
            {
                await DisplayAlert("Erro", "Não foi possivel deletar o usuario", "OK");
            }

        }
        catch(Exception ex)
        {
            await DisplayAlert("Erro",$"Não foi possivel deletar {ex.Message}", "Ok");
        }
    }

    private void Voltar(MouseEventArgs e) {

        Navigation.NavigateTo("/PaginaInicial");
    }


    private async Task DisplayAlert(string title, string message, string cancel)
    {
        if (Application.Current?.MainPage != null)
        {
            await Application.Current.MainPage.DisplayAlert(title, message, cancel);
        }
    }
}
