@page "/"
@using LoginMaui.Models
@using LoginMaui.Services
@inject NavigationManager Navigation
@inject IUsuarioService UsuarioService
@inherits LayoutComponentBase

<!-- A cor da barra de status e definida no arquivo "Platforms/Android/MainActivity.cs" -->
<div class="page-background-class fade-in container d-flex flex-column align-items-center mt-5 vh-100">
    <div>
        <img src="/images/Logo.svg" alt="Logo" class="" />
    </div>
        <div class="d-flex flex-column align-items-center justify-content-center w-100">
        <input type="text" id="username" @bind="usuario" name="user" placeholder="Usuario" class="m-2 p-1 w-80" />
        <input type="password" id="password" @bind="senha" name="password" placeholder="Senha" class="m-2 p-1 w-80" />
    </div>
    <div class="w-100">
            <a href="/EsqueceuSenha" class="m-2 text-white">Esqueceu a senha ?</a>
    </div>

    <button type="submit" class="m-5 botaoBase" @onclick="Login">Entrar</button>
    <button type="submit" class="m-5 botaoBase" @onclick="NavegarParaRegistro">Registrar-se</button>

</div>

@code {
    private string usuario { get; set; } 
    private string senha { get; set; }
    private List<UsuarioModel> usuarios;

    private async Task Login() {

        usuarios = await UsuarioService.GetAllUsuarios();

        if (usuarios.Any(u => u.Usuario == usuario && u.Senha == senha)) {

            Navigation.NavigateTo("/PaginaInicial"); 
        }else {
            await DisplayAlert("Erro", "Usuario ou senha invalido", "Ok");
        }

        /*if(loginModel.Usuario == "admin" && loginModel.Senha == "admin") {

            Navigation.NavigateTo("/PaginaInicial");
            //await DisplayAlert("Sucesso", "Login realiado com sucesso", "Ok");

        }else {
            await DisplayAlert("Erro", "Usario ou senha inválido", "OK");
        }*/
    }

    private void NavegarParaRegistro()
    {
        Navigation.NavigateTo("/registrar");
    }

    private async Task DisplayAlert(string title, string message, string cancel) {

        await Application.Current.MainPage.DisplayAlert(title, message, cancel);
    }
};