@page "/"
@inject NavigationManager Navigation

<!-- A cor da barra de status e definida no arquivo "Platforms/Android/MainActivity.cs" -->

<div class="container d-flex flex-column align-items-center mt-5 vh-100">
    <div>
        <img class="w-100 mb-5" src="" alt="Logo" />
    </div>
    <EditForm Model="@loginModel" OnValidSubmit="Login" class="d-flex flex-column justify-content-center align-items-center">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="d-flex flex-column align-items-center justify-content-center w-100">
            <input type="text" id="username" @bind-value="loginModel.Username" name="user" placeholder="Usuario" class="m-2 p-1 w-80"/>
            <input type="password" id="password" @bind-value="loginModel.Password" name="password" placeholder="Senha" class="m-2 p-1 w-80" />
        </div>
        <div class="w-100">
            <a href="#" class="m-2 text-white">Esqueceu a senha ?</a>
        </div>
        <button type="submit" class="m-3 btn btn-primary w-60 align-items-center">Login</button>
    </EditForm> 
</div>

<style>
    body {
        overflow: hidden;
    }
</style>

@code {
    private LoginModel loginModel = new LoginModel();

    private async void Login() {

        if(loginModel.Username == "admin" && loginModel.Password == "admin") {

            Navigation.NavigateTo("/cadastro");
            //await DisplayAlert("Sucesso", "Login realiado com sucesso", "Ok");

        }else {
            await DisplayAlert("Erro", "Usario ou senha inválido", "OK");
        }
    }

    public class LoginModel {
        
        public string Username { get; set; }
        public string Password { get; set; }
    }

    private async Task DisplayAlert(string title, string message, string cancel) {

        await Application.Current.MainPage.DisplayAlert(title, message, cancel);
    }
};