@page "/PaginaInicial"
@inject NavigationManager Navigation

<div class="vh-100">
    <div class="d-flex justify-content-center">
        <h1>Página Inicial</h1>
    </div>
    <div class="d-flex justify-content-between">
        <a href="ListaCadastros" class="btn btn-primary">Cadastros</a>
        <a href="ListaUsuarios" class="btn btn-primary">Usuarios</a>
        <a href="Cadastro" class="btn btn-primary">Cadastrar</a>
    </div>

    <a class="btn btn-light m-2" @onclick="Voltar">Sair</a>

</div>

@code {
    private void Voltar(MouseEventArgs e) {

        Navigation.NavigateTo("/");
    }
}
