@page "/registrar"
@using System.ComponentModel.DataAnnotations
@using LoginMaui.Models
@using LoginMaui.Services
@inject NavigationManager Navigation
@inject IUsuarioService UsuarioService

<div class="vh-100 fade-in">

    <input class="m-2 CaixaTexto" type="text" placeholder="Usuario" @bind="usuario" />
    <input class="m-2 CaixaTexto" type="password" placeholder="Senha" @bind="senha" />
    <input class="m-2 CaixaTexto" type="password" placeholder="Confirmar Senha" @bind="confirmacaoSenha" />
    <button class="btn btn-primary m-2" @onclick="Registrar">Registrar</button>
</div>
@code {
    private string usuario;
    private string senha;
    private string confirmacaoSenha;
    private List<UsuarioModel> usuarios;

    private async Task Registrar() {

        usuarios = await UsuarioService.GetAllUsuarios();

        if (usuarios.Any(u => u.Usuario == usuario)) { // Verifica se o usuario ja existe

            await DisplayAlert("Erro", "Usuario ja existente", "Ok");
        }
        else {

            if (senha == confirmacaoSenha) { //Verifica se a senha e correspondente

                var response = await UsuarioService.AddUsuario(new UsuarioModel {

                    Usuario = usuario,
                    Senha = senha
                });

                if (response > 0) { // verifica se o usuário foi cadastrado com sucesso

                    //await DisplayAlert("Sucesso", $"Usuário {usuario} cadastrado com sucesso", "Ok");
                    Navigation.NavigateTo("/cadastro");
                }
                else {

                    await DisplayAlert("Erro", "Erro ao cadastrar", "Ok");
                }
            }
            else {

                await DisplayAlert("Erro", $"As senhas não conferem", "Ok");
            }


        }
    }

    private async Task DisplayAlert(string title, string message, string cancel) {
        await Application.Current.MainPage.DisplayAlert(title, message, cancel);
    }
}